* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

:root {
    --color-one: #C5EBD6;
    --color-two: #83E1AD;
    --color-three: #3DDC84;
    --color-four: #2FA866;
    --color-five: #063D1E;
}

@font-face {
    font-family: font-android;
    src: url('../font/idroid.otf');
}

body {
    background: var(--color-one);
}

.container-header {
    background-image: linear-gradient(to top, var(--color-five), var(--color-four));
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 40px;
}

.container-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    font-variant: small-caps;
}

.container-header p {
    font-size: 1.3rem;
    text-align: center;
    padding: 5px;
}

.container-header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.container-header li {
    margin-right: 15px;
}

.container-header a {
    text-decoration: none;
    color: var(--color-two);
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

.container-header a:hover {
    transform: scale(1.1);
}

main {
    background-color: white;
    color: black;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
    padding: 15px;
    margin-bottom: 15px;
}

main h1, h2 {
    font-family: font-android;
    padding: 5px;
    margin: 5px;
    background: linear-gradient(to right, var(--color-three), var(--color-two));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

main h1 {
    font-size: 2rem;
}

main h2 {
    font-size: 1.5rem;
}

main p {
    text-indent: 15px;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-five);
    text-shadow: 0 0 0 transparent;
    transition: text-shadow 0.3 ease;
}

.link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);
}

.text-emphasis {
    color: var(--color-five);
    font-weight: bold;
}

.container-image-android img, .container-image-irina img {
    max-width: 100%;
    height: auto;
}

.box-image-bugdroid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    background-color: var(--color-five);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.container-extra {
    background-color: var(--color-two);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    z-index: -1;
    max-width: 800px;
    text-align: justify;
    padding: 10px;
}

.container-extra h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container-extra ul {
    list-style-type: none;
    padding: 0;
    columns: 2;
}

li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.container-extra li::before {
    content: '\2714\00A0\00A0';
    position: absolute;
    left: 0;
}