* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}


:root {
    --color-one: #C5EBD6;
    --color-two: #83E1AD;
    --color-three: #3DDC84;
    --color-four: #2FA866;
    --color-five: #063D1E;
}

@font-face {
    font-family: font-android;
    src: url('../font/idroid.otf');
}

body {
    background: var(--color-one);
}

.container-header {
    background-image: linear-gradient(to top, var(--color-five), var(--color-four));
    color: white;
    padding-inline: 16px;
}

.container-header h1 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    font-variant: small-caps;
}

.container-header p {
    text-align: center;
    padding: 5px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 48px;
    width: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.burguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.burguer::before, .burguer::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

main {
    background-color: white;
    color: black;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
    padding: 15px;
    margin-bottom: 15px;
}

main h1, h2 {
    font-family: font-android;
    padding: 5px;
    margin: 5px;
    background: linear-gradient(to right, var(--color-three), var(--color-two));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

main p {
    text-indent: 15px;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-five);
    text-shadow: 0 0 0 transparent;
    transition: text-shadow 0.3 ease;
}

.link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);
}

.text-emphasis {
    color: var(--color-five);
    font-weight: bold;
}

.container-image-android img, .container-image-irina img {
    max-width: 100%;
    height: auto;
}

.container-image-bugdroid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    background-color: var(--color-five);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.container-extra {
    background-color: var(--color-two);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    z-index: -1;
    max-width: 800px;
    text-align: justify;
    padding: 10px;
}

.container-extra h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container-extra ul {
    list-style-type: none;
    padding: 0;
    columns: 2;
}

li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.container-extra li::before {
    content: '\2714\00A0\00A0';
    position: absolute;
    left: 0;
}